@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

main {
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    min-width: 100%;
}

.row {
    align-content: center;
    height: 100vh;
}

.content-container {
    height: 40rem;
    width: 25rem;
    color: hsla(0, 0%, 100%, 0.75);
}

h1 {
    text-transform: uppercase;
    margin: 3rem;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 3.5rem;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 1rem 0 0 1rem;
}

.sedans button {
    color:  hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs button {
    color:  hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 1rem 1rem 0rem;
}

.luxury button {
    color:  hsl(179, 100%, 13%);
}

.icons {
    margin: 3rem;
}

p {
    margin: 3rem;
    font-size: 1.3rem;
}

.btn {
    margin: 3rem 3rem;
    background-color: hsl(0, 0%, 95%);
    padding: 1rem;
    border-radius: 2rem;
    width: 11rem;
    font-weight: 700;
}

.btn:hover {
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    border: solid 0.25rem hsl(0, 0%, 95%);
}