@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

main {
    background-color: hsl(0, 0%, 95%);
}

.row {
    padding: 6rem 0;
}

.content-container {
    width: 27rem;
    height: 35rem;
}

h1 {
    text-transform: uppercase;
    margin: 0 3rem;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 3.5rem;
    color: hsl(0, 0%, 95%);
}

.icons {
    margin: 3rem;
}

p {
    margin: 2rem 3rem;
    font-size: 1.3rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.btn {
    margin: 0 3rem;
    background-color: hsl(0, 0%, 95%);
    padding: 1rem;
    border-radius: 2rem;
    width: 11rem;
}

.btn:hover {
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    border: solid 0.25rem hsl(0, 0%, 95%);
}


/* Sedans ----------------------------- */

.sedans {
    background-color: hsl(31, 77%, 52%);
    border-radius: 1rem 1rem 0 0;
}

.sedans button {
    color:  hsl(31, 77%, 52%);
}

/* SUVS ----------------------------- */

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.suvs button {
    color:  hsl(184, 100%, 22%);
}

/* Luxury ----------------------------- */

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 1rem 1rem;
}

.luxury button {
    color:  hsl(179, 100%, 13%);
}

/* Media Queries ----------------------------- */

@media(min-width: 750px) {

    .main {
        background-color: hsl(0, 0%, 95%);
        height: 100vh;
        min-width: 100%;
    }

    .row {
        align-content: center;
        height: 100vh;
    }

    .content-container {
        width: 27rem;
        height: auto;
    }

    .sedans {
        border-radius: 1rem 0 0 1rem;
    }

    .luxury {
        border-radius: 0 1rem 1rem 0rem;
    }

}