@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

main {
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    min-width: 100%;
}

.row {
    align-content: center;
    height: 100vh;
}

.content-container {
    height: 40rem;
    width: 25rem;
}

h1 {
    text-transform: uppercase;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}